.header {
    text-align : center;
    width      : 100%;
    position   : absolute;
    top        : 100px;
    left       : 0;
    z-index    : 1000;
    font-size  : 24px;
    font-weight: 600;
}


.head-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 10px;
}



.head-nav .nav-content {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    height         : 100%;
    max-width      : 1160px;
    margin         : auto;
}

.nav-content .logo a {
    font-size: 35px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}


.nav-content .nav-links {
    display    : flex;
    align-items: center;
}

.nav-content .nav-links li {
    list-style: none;
    margin    : 0 18px;
}

.nav-links li a {
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding: 10px 4px;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline black;
}


.nav-content .search-container {
    float: right;
}

.nav-content input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.nav-content .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.nav-content .search-container button:hover {
    border-radius: 4px;
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .nav-content .search-container {
        float: none;
    }

    .nav-content a,
    .nav-content input[type=text],
    .nav-content .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
    }

    .nav-content input[type=text] {
        border: 1px solid #ccc;
    }
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 0 18px;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

.dropbtn:hover {
    text-decoration: underline black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 18px;
    text-decoration: none;
    text-align: left;
    display: block;

}

        /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    text-decoration: underline black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}




